<div id="main">
    <div id="container">
        <div id="surahs">
            

            <div id="list">
                
                <div id="basmallah">
                    <img src="../../assets/img/Basmallah.png" alt="">
                </div>

                <div id="action">
                    <div id="action__bl">
                        <input id="action__bl__search" type="text" placeholder="Search Surahs...">
                    </div>
                </div>
                <div class="item">
                    <div class="item__bl__photo">
                        <img class="item__bl__photo__img" src="../../assets/img/play.png" alt="Recitator">
                    </div>
                    <h5 class="item__text"> #1 - Al-Fatiha </h5>
                    <p style="text-align: right;flex-basis: 25%;">00:47</p>
                </div>
                <div class="item">
                    <div class="item__bl__photo">
                        <img class="item__bl__photo__img" src="../../assets/img/play.png" alt="Recitator">
                    </div>
                    <h5 class="item__text"> #1 - Al-Fatiha </h5>
                    <p style="text-align: right;flex-basis: 25%;">00:47</p>
                </div>
                <div class="item">
                    <div class="item__bl__photo">
                        <img class="item__bl__photo__img" src="../../assets/img/play.png" alt="Recitator">
                    </div>
                    <h5 class="item__text"> #1 - Al-Fatiha </h5>
                    <p style="text-align: right;flex-basis: 25%;">00:47</p>
                </div>
                
                <!-- <div style="overflow: scroll;">
                    <div class="item" *ngFor="let surah of surahs">
                        <div class="item__bl__photo">
                            <img class="item__bl__photo__img" src="../../assets/img/play.png" alt="Recitator">
                        </div>
                        <h5 class="item__text"> #{{ surah.number }} - {{ surah.transliteration_en }} </h5>
                        <p style="text-align: right;flex-basis: 25%;">00:47</p>
                    </div>
                </div> -->

            </div>

        </div>
        
        <div id="playing">
            <div id="play">
                <div class="item__bl__photo">
                    <img class="item__bl__photo__img" src="../../assets/img/recitators/kalbani.png" alt="Recitator">
                </div>
                <p>Adil al-Kalbani</p>

                <!-- <div class="bar" *ngIf="playing">
                    <svg width="15" viewBox="0 0 55 80" xmlns="http://www.w3.org/2000/svg" fill="black" class="w-8 h-8">
                        <g transform="matrix(1 0 0 -1 0 80)">
                            <rect width="10" height="20" rx="3">
                                <animate attributeName="height" begin="0s" dur="4.3s" values="20;45;57;80;64;32;66;45;64;23;66;13;64;56;34;34;2;23;76;79;20" calcMode="linear" repeatCount="indefinite"></animate>
                            </rect>
                            <rect x="15" width="10" height="80" rx="3">
                                <animate attributeName="height" begin="0s" dur="2s" values="80;55;33;5;75;23;73;33;12;14;60;80" calcMode="linear" repeatCount="indefinite"></animate>
                            </rect>
                            <rect x="30" width="10" height="50" rx="3">
                                <animate attributeName="height" begin="0s" dur="1.4s" values="50;34;78;23;56;23;34;76;80;54;21;50" calcMode="linear" repeatCount="indefinite"></animate>
                            </rect>
                            <rect x="45" width="10" height="30" rx="3">
                                <animate attributeName="height" begin="0s" dur="2s" values="30;45;13;80;56;72;45;76;34;23;67;30" calcMode="linear" repeatCount="indefinite"></animate>
                            </rect>
                        </g>
                    </svg>
                </div> -->

                <p style="margin-top: 15px;font-family: cursive;font-size: 18px;color: #000000;"> {{ songs[currentId].name }} </p>
                <p> {{ currentId + 1 }} / {{ songs.length }} </p>

                <div class="myprogress">
                    <progress class="progress is-small" [value]="progressState" max="100"></progress>
                </div>

                <div class="duration">
                    <span> {{ audio.currentTime | formatSeconds }} </span>  <span> {{ audio.duration | formatSeconds }} </span>
                </div>

                <div class="control">
                    <div (click)="prev()" class="control__prev"><img class="control__prev__img" src="../../assets/img/prev.png" alt="Prev button"></div>
                    <img (click)="play()" class="control__play" [src]="btnPlayerUrl" alt="Play button">
                    <div (click)="next()" class="control__next"><img class="control__next__img" src="../../assets/img/next.png" alt="Next button"></div>
                </div>

            </div>
        </div>
    </div>
</div>