<div id="main">
    <div id="container" *ngIf="{
      surahs: surahs$ | async,
      allSurahs: allSurahs$ | async
    } as observables">
        <div id="surahs" [formGroup]="searchForm">


            <div id="list">

                <div id="basmallah">
                    <img src="../../assets/img/Basmallah.png" alt="">
                </div>

                <div id="action">
                    <div id="action__bl">
                        <input id="action__bl__search" formControlName="searchText" type="text" placeholder="Search Surahs...">
                    </div>
                </div>

                <div>
                    <div class="item" *ngFor="let surah of observables.surahs; let i = index">
                        <ng-container>
                          <div (click)="onSelectingSurah(surah.number)" class="item__bl__photo">
                            <img class="item__bl__photo__img" src="../../assets/img/play.png" alt="Recitator">
                          </div>
                          <h5 class="item__text"> #{{ surah.number }} - {{ surah.transliteration_en }} </h5>
                          <!-- <p style="text-align: right;flex-basis: 25%;">00:47</p> -->
                        </ng-container>
                    </div>
                </div>

            </div>

        </div>

        <div id="playing">
            <div id="play">
                <div class="item__bl__photo mb-4">
                    <img class="item__bl__photo__img circle" src="{{recitator.photoURL}}" alt="Recitator">
                </div>
                <p> {{ recitator.name }} </p>

                <p style="margin-top: 15px;font-family: cursive;font-size: 18px;color: #000000;"> {{ observables.allSurahs[surahNo - 1]?.transliteration_en }} </p>
                <p> {{ surahNo }} / {{ observables.allSurahs.length }} </p>

                <div class="myprogress">
                    <progress class="progress is-small" [value]="progressState" max="100"></progress>
                </div>

                <div class="duration">
                    <span> {{ audio?.currentTime | formatSeconds }} </span>  <span> {{ audio?.duration | formatSeconds }} </span>
                </div>

                <div class="control">
                    <div (click)="prev()" class="control__prev"><img class="control__prev__img" src="../../assets/img/prev.png" alt="Prev button"></div>
                    <img (click)="play()" class="control__play" src="../../assets/img/btn_{{playing ? 'pause' : 'play'}}.png" alt="Play button">
                    <div (click)="next()" class="control__next"><img class="control__next__img" src="../../assets/img/next.png" alt="Next button"></div>
                </div>

            </div>
        </div>
    </div>
</div>
