@font-face {
    font-family: "Montserrat";
    src: url("assets/fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat-smb";
    src: url("assets/fonts/Montserrat/Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: "Montserrat-md";
    src: url("assets/fonts/Montserrat/Montserrat-Medium.ttf");
}

@font-face {
    font-family: "Montserrat-bd";
    src: url("assets/fonts/Montserrat/Montserrat-Bold.ttf");
}


html, body  {height: 100%;}

body {
    margin: 0;
    padding-top: 17px;
    box-sizing: border-box;
}

@import '~node_modules/bulma/sass/utilities/initial-variables';

// Set your brand colors
$progress-value-background-color: black;
$progress-bar-background-color: white;
$progress-indeterminate-duration: .5s;

// Update Bulma's global variables
$primary: $purple;
@import '~node_modules/bulma/bulma';